
:root {
    --gray: #E9EDF2;
    --white: #ffffff;
    --primary-text: #2B3674;
    --border: #B2BAD0;
    --prm-clr: #4318FF;
}

* {
    font-size: 14px!important;
    font-family: 'DM Sans', sans-serif;

}

body {
    background-color: var(--gray) !important;
}
h5{
font-size: 16px!important;
}
h3{
    font-size: 20px!important;
    font-weight: 700 !important;

}
.small-text {
    font-size: 12px!important;
}
i{
    font-size:24px !important;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--prm-clr);
    cursor: pointer;
}

label {
    padding-bottom: .5rem !important;
}

.form-control-color {
    width: 100% !important;
}

.main-bg {
    background-color: var(--gray);
}

input:focus {
    border-color: var(--prm-clr) !important;
}
input{
    font-size: 14px !important;
    height: 50px !important;
}
input[type=checkbox],input[type=radio]{
    height: 1rem !important;

}
select{
    font-size: 14px !important;
    height: 50px !important;
}
select:focus {
    border-color: var(--prm-clr) !important;
}
.weight{
    font-weight: 700px !important;
}
textarea:focus {
    border-color: var(--prm-clr) !important;
}

#Upload-file {
    display: none;
}

.formarea {
    background-color: var(--white);
    color: var(--primary-text)
}

.radio-clr {
    border-color: var(--prm-clr) !important;
    color: var(--prm-clr) !important;
}

.upload-area {
    border: 2px dashed var(--border);
    width: 100%;
    color: var(--prm-clr);
    border-radius: 5px;
    background-color: #FAFCFE;

}

.formarea i {
    font-size: 24px;
}

label.form-item::after {
    content: "*";
    color: red;

}

input[type=checkbox]:checked {
    background-color: var(--prm-clr) !important;
}

input[type=radio]:checked {
    background-color: var(--prm-clr) !important;
    border: var(--prm-clr);
}

.btn-primary {
    background-color: var(--prm-clr) !important;
}
.bottom {
    margin-top: 1rem!important;
}
/***** start media *******/
@media(max-width:992px) {
    .breaking-form {
        flex-direction: column;
        gap:1rem !important;
    }
    .bottom{
        margin: 0px !important;
    }
}

@media(max-width:767px) {
    .row-collaps {
        display: flex !important;
        flex-direction: column !important;
        gap: 1.5rem !important;
    }

    .color-full-width {
        width: 100% !important;

    }
}

@media(max-width:500px) {
    .breaking-form {
        padding-left: .5rem !important;
    }

    .gender-collaps {
        display: flex !important;
        flex-direction: column !important;
        gap: 1.5rem !important;
    }

    .full-width {
        width: 100% !important;
    }

    .half-width {
        width: 50% !important;
    }

    .container,
    .container-fluid {
        padding: 0px !important;
    }
}